@import url('https://fonts.googleapis.com/css2?family=Lato&family=Yeseva+One&display=swap');

header nav {
  background-color: #a7afa8;
  position: fixed;
  width: 100vw;
  padding: 40px 1%;
}

.brand {
  font-family: "Yeseva One";
}

body header, main {
  font-family: "Lato";
}

main {
  position: relative;
  top: 80px;
}

div {
  max-width: 100vw;
  max-height: 100vh;
}

div video {
  width: 100vw;
  min-width: 100vw;
  opacity: 0.9;
}