@import url('https://fonts.googleapis.com/css2?family=Lato&family=Yeseva+One&display=swap');

header nav {
  background-color: #a7afa8;
  position: fixed;
  width: 100vw;
}

.nav-left {
  font-family: "Yeseva One";
}

.nav {
  padding: 2% 1%;
}

main {
  top: 100px;
  position: relative;
}

body {
  font-family: "Lato";
}

@media (max-width: 768px) {
}
