@import url("https://fonts.googleapis.com/css2?family=Lato&family=Yeseva+One&display=swap");

header {
  background-color: #a7afa8;
  position: fixed;
  width: 100vw;
  z-index: 2;
  color: #fff;
}

a.button {
  margin-top: 1em;
  background-color: #a7afa8;
  color: #fff;
  font-size: 2.5vw;
  padding: 2vw;
}

header nav.nav div a,
span {
  color: white;
}

.brand {
  font-family: "Yeseva One";
}

body header,
main {
  font-family: "Lato";
  color: #454545;
}

main {
  position: relative;
  top: 90px;
}

div video {
  width: 100vw;
  min-width: 100vw;
  opacity: 0.8;
}

.video-text {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  user-select: none;
}

.video-text div {
  width: 85%;
  color: #fff;
  font-size: 2.5vw;
}

.video-text .title {
  font-family: "Yeseva One";
  font-size: 4vw;
}

.video-container {
  position: relative;
}

.features {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.feature-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 480px) {
  main {
    top: 50px;
  }
}
